* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #181818;
}
img{
    width: 100%;
    object-fit: cover;
    height: 100px;
}

.card-portofolio {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 20px;
}
.card {
  width: 350px;
  height: auto;
  padding: 30px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.img-contanier {
  width: 40%;  
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}


.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.information p {
  color: chartreuse;
}

p {
  color: #fff;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.links a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
  text-align: center;
  background-color: #1f1f1f;
  padding: 10px 20px;
  margin: 5px;
}
.links a:hover {
  color: #333;
  background-color: #fff;
}
